@page "/editoriales"
@inject HttpClient _http
@inject NavigationManager _navigator
<h3>Editoriales</h3>
<button class="btn btn-primary mb-3" @onclick="Agregar">Agregar</button>
@if (editoriales == null)
{
    <br />
    <div class="spinner-grow" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Editorial editorial in editoriales)
            {
                <tr>
                    <td>@editorial.Nombre</td>
                    <td>
                        <button class="btn btn-sm btn-outline-secondary" @onclick="()=>Editar(editorial.Id)"><span class="oi oi-pencil"></span></button>
                        <button class="btn btn-sm btn-outline-danger" @onclick="()=>Borrar(editorial.Id)"><span class="oi oi-trash"></span></button>
                    </td>
                </tr>
            }
        </tbody>

    </table>
}

@if (borrarActivo)
{
    <VentanaModal onCancelar="CancelarBorrar" onAceptar="AceptarBorrar" />
}

@code {
    private List<Editorial>? editoriales;
    private bool borrarActivo = false;
    private int borrarId = 0;

    protected override async Task OnInitializedAsync()
    {
        await Cargar();
    }

    private void Borrar(int id)
    {
        borrarActivo = true;
        borrarId = id;
    }

    private void CancelarBorrar()
    {
        borrarActivo = false;
        borrarId = 0;
    }

    private async Task AceptarBorrar()
    {
        await _http.DeleteAsync($"/api/editoriales/{borrarId}");
        await Cargar();
        CancelarBorrar();
    }

    private async Task Cargar()
    {
        editoriales = await _http.GetFromJsonAsync<List<Editorial>>("api/editoriales");
    }

    private void Agregar()
    {
        _navigator.NavigateTo("editorial/nueva");

    }
    private void Editar(int id)
    {
        _navigator.NavigateTo($"editorial/editar/{id}");

    }
}
